.home-page {
  overflow: hidden;
  height: 100%;
  font-size: $font-size-base;
  > footer {
    display: none;
  }
  .main-content {
    display: flex;
    padding: 0;
  }
  header {
    background: none;
    color: $black;
    width: calc(100% - #{$aside-width});
    left: auto;
  }
  .navbar {
    &-brand {
      display: none;
    }
    &-menu {
      margin-left: auto;
    }
  }
  .title-secondary {
    margin-bottom: 14.5rem;
  }
  .button-primary {
    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.page-scroll {
  max-width: calc(100% - 20rem);
  display: flex;
  justify-content: center;
  .sections, .section {
    position: relative;
    height: 100vh;
    width: 100%;
  }
  .sections {
    .title-secondary {
      display: inline-block;
    }
  }
  .section {
    &-image-background {
      position: absolute;
      right: 0;
      z-index: -1;
      opacity: .1;
      transform: translate(-50%, -50%);
    }
    &-image-float {
      position: absolute;
      > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &-mission {
      overflow: hidden;
      background: url('#{$background-base-url}/section-mission-bg.jpg') no-repeat center center rgba(255,255,255,.9);
      background-size: cover;
      .fp-tableCell {
        padding: 9rem 0 0 7rem;    
      }
    }
    &-partners {
      overflow: hidden;
      .fp-tableCell {
        padding: 9rem 13rem 5rem;
      }
      .section-image-background {
        width: 150vw;
        top: 56px;
        left: 6px;
      }
    }
    &-introduction {
      background: url('#{$background-base-url}/section-introduction-background.jpg') no-repeat center center rgba(255, 255, 255, 0.9);
      background-size: cover;
      overflow: hidden;
      .title-secondary-wrapper {
        padding-left: 19%;
        text-align: left;
        margin-left: 0;
      }
      .fp-tableCell {
        padding: 9rem 0 5rem 12rem;
      }
    }
    &-fondation {
      background: url('#{$background-base-url}/section-fondation-background.jpg') no-repeat center center;      
      background-size: cover;
      .fp-tableCell {
        padding: 9rem 21.2rem 24rem;
      }
      .title-secondary {
        margin-bottom: 11.7rem;
        text-indent: 8px;
        &-highlight-text {
          &:after {
            background-color: $white;
          }
        }
      }
    }
    &-book-lab {
      z-index: 1;
      background: $white;
      .fp-tableCell {
        padding: 9rem 5rem;
      }
      .inner {
        max-width: 84.9rem;
        margin: 0 auto;
        position: relative;
      }
      .actions {
        margin-top: $booklab-section-margin-default;
      }
    }
    &-live-from-lab {
      .outer {
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
      .inner {
        max-width: 66rem;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
      }
      .section-image-background {
        width: 120vw;
        top: 11rem;
        left: 11rem;
      }
      .actions {
        margin: 0 auto;
        flex: 1 1 100%;
        margin-top: 2.5rem;
      }
    }
    &-footer {
      width: calc(100% + #{$aside-width});
      left: -$aside-width;
    }
    .actions {
      .abutton + .abutton {
        margin-left: 1rem;
      }
    }
  }
}
#fp-nav {
  left: 2.7rem;
  z-index: 10;
  ul li {
    margin: 0 auto;
     + li {
       margin-top:  2.2rem;
     }      
  }
  ul li a {
    position: relative;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    color: $red;
    font-size: 0;
    line-height: 0;
    display: block;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(.5);
      transition: transform $transition-time $transition-timing-function;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      border: solid 2px $white;
      background: $white;
    }
    &.active,
    &:hover {
      &:before {
        transform: translate(-50%, -50%) scale(.9);
        background: transparent;
      }
    }
    span {
      display: none;
    }
  }
}
.mission {
  position: relative;
  &-text {
    margin-bottom: 2.4rem;
  }
  &-content {
    max-width: 46rem;
  }
  &-images {
  }
  &-image {
    position: absolute;
    border-radius: 100%;
    border: solid 4px $white;
    &:first-child {
      top: 46.8rem;
      right: 42.6rem;
      width: 25rem;
      height: 25rem;
    }
    &:nth-child(2) {
      width: 26rem;
      height: 26rem;
      top: 10.7rem;
      right: -1.5rem;
    }
    &:nth-child(3) {
      width: 30rem;
      height: 30rem;
      top: 6.2rem;
      right: 29.6rem;
    }
    &:nth-child(4) {
      width: 31rem;
      height: 31rem;
      top: 51rem;
      right: 3rem;
    }
    &:nth-child(5) {
      width: 18rem;
      height: 18rem;
      top: 17rem;
      right: 57.6rem;
    }
    &:nth-child(6) {
      width: 28rem;
      height: 28rem;
      top: 30.3rem;
      right: 17.2rem;
    }
  }
  &-next-button {
    position: absolute;
    left: percentage($number: 5/12);
    bottom: 3rem;
    transform: translate(-50%, 0);
    font-size: $font-size-m;
  }
}
.partner {
  &-image-wrapper {
    width: 19rem;
    height: 19rem;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.05);
    background: $white;
    position: relative;
    display: inline-block;
    margin-bottom: 1.5rem;
    overflow: hidden;
    > img {
      position: absolute;  
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &-items {
    margin-bottom: 3.4rem;
  }
  &-item {
    > .inner {
      max-width: 20rem;
      margin-left: auto;
      margin-right: auto;
    }
    &-text {
      line-height: 1.3;
    }
  }
  &-title {
    font-family: $font-family-secondary;
    font-size: $font-size-base;
    line-height: 1.3;
  }
}
.introduction{
  &-text {
    max-width: 64rem;
    line-height: 1.3;
    .actions {
      margin-top: 3.7rem;
    }
  }
  &-images-wrapper {
    position: absolute;
    right: -4.3rem;
    bottom: 8.3rem;
    width: 46rem;
    height: 46rem;
    border: solid 4px $white;
    border-radius: 50%;
    overflow: hidden;
    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
.fondation {
  &-items {
    position: absolute;
    font-size: $font-size-base;
    top: 50%;
    left: 3.8rem;
    transform: translate(-50%,  $title-secondary-circle-size/2 + $title-secondary-line-height);
    font-family: $font-family-base;
    font-size: $font-size-base;
    width: 24rem;
    text-indent: 0;
    .slick-arrow {
      box-shadow: none;
      &:before {
        transform: scale(1);
        opacity: 1;
      }
      &:after {
        color: $white;
      }
    }
    .slick {
      &-next {
        right: 0;
        transform: translate(calc(100% + 10px), -50%);
      }
      &-prev {
        left: 0;
        transform: translate(calc(-100% - 10px), -50%);
      }
    }
  }
  &-item {
    width: 24rem;
    height: 24rem;
    border-radius: 50%;
    background: $red;
    color: $white;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
  }
  &-date {
    font-size: $font-size-sm;
    margin-bottom: 9px;
    &:after {
      content: '';
      width: 4rem;
      margin: 3px auto 0;
      display: block;
      border-bottom: solid 1px $white;
    }
  }
}
.book-lab {
  &-logo {
    max-width: 32rem;
    margin: 0 auto $booklab-section-margin-default;
  }
  &-text {
    margin-bottom: $booklab-section-margin-default;
    line-height: 1.3;
  }
  &-items {
    padding: 0 3px;
  }
  &-item {
    padding: 0 $booklab-section-spacing-grid;
    flex: 0 0 percentage($number: 1/3);
    max-width: percentage($number: 1/3);
    .card {
      border: none;
      background: none;
    }
    .card {
      &-infomation {
        font-size: 1.2rem;
        font-family: $font-family-base-extra-bold;
        text-transform: uppercase;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.4rem;
        .tag {
          padding: .5rem;
          border: solid 1px $orange;
        }
        .date {
          color: $gray;
          margin-left: auto;
          display: flex;
          align-items: center;
        }
      }
      &-body {
        padding: 2.3rem 2rem 1.6rem;
        background: $light-gray;
      }
      &-text {
        font-size: $font-size-s;
        line-height: 1.3;
      }
      &-title {
        font-family: $font-family-base-semi-bold;
        line-height: 1.3;
        display: block;
        color: $dark-blue;
        &:hover {
          text-decoration: none;
          color: $light-blue;
        }
      }
      &-header {
        border: none;
        padding: 0;
        background: none;
      }
    }
    &-category {
      font-family: $font-family-secondary;
      line-height: 1.3;
      margin-bottom: .4rem;
    }
  }
  &-background-images {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  &-background-image {
    position: absolute;
    &:first-child {
      width: 30rem;
      height: 30rem;
      left: 0;
      bottom: 0;
      transform: translate(percentage(-231/300), 0);
    }
    &:nth-child(2) {
      width: 20rem;
      height: 20rem;
      left: 15.8rem;
      bottom: 0;
      transform: translate(0, 50%);
    }
    &:nth-child(3) {
      width: 20rem;
      height: 20rem;
      left: 100%;
      bottom: 4.4rem;
      transform: translate(-2.5rem, 0);
    }
  }
}
.live-from-lab {
  &-logo {
    max-width: 22rem;
    position: relative;
  }  
  &-logo,
  &-content {
    flex-basis: 0;
    flex-grow: 1;
  }
  &-content {
    padding-left: 4rem;
    ul {
      padding: 0;
      line-height: 1.3;
    }
  }
  &-title {
    font-family: $font-family-secondary;
    font-size: $font-size-lg;
    margin-bottom: 2rem;
  }
  &-background-images {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  &-background-image {
    position: absolute;
    &:first-child {
      width: 42.2rem;
      height: 42.2rem;
      left: 0;
      bottom: 0;
      transform: translate(-15%, -5rem);
    }
    &:nth-child(2) {
      width: 70rem;
      height: 70rem;
      top: 0;
      right: 0;
      transform: translate(10%, -15%);
    }
  }
}

@media #{$desktop-lg} {
  .main-content aside .top-logo {
    width: 15rem;
  }
  .partner {
    &-image-wrapper {
      width: 12rem;
      height: 12rem;
    }
  }
  .introduction {
    &-text {
      max-width: 50rem;
    }
    &-images-wrapper {
      width: 36rem;
      height: 36rem;
    }
  }
  .mission {
    &-images {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translate(16rem, -5rem) scale(.75);
    }
    &-content {
      max-width: 40rem;
    }
    &-image:nth-child(2) {
      right: 5.5rem;
    }
  }
}
@media #{$desktop} {
  .live-from-lab {
    &-background-image {
      &:first-child {
        width: 30rem;
        height: 30rem;
      }
      &:nth-child(2) {
        width: 50rem;
        height: 50rem;
      }
    }
  }
  .partner {
    &-items {
      margin-bottom: 2rem;
    }
  }
  .page-scroll .section {
    &-fondation {
      .fp-tableCell {
        padding-left: 10rem;
        padding-right: 10rem;
      }
    }
    &-partners {
      .fp-tableCell {
        padding: 22rem 5rem 0;
      }
    }
    &-introduction {
      .fp-tableCell {
        padding-left: 5rem;
        padding-right: 5rem;
      }
    }
    &-book-lab {
      .fp-tableCell {
        padding: 7rem 5rem 0;
      }
    }
  }
  .introduction {
    &-text {
      max-width: 45rem;
    }
  }
  .book-lab {
    &-background-image  {
      &:first-child {
        width: 20rem;
        height: 20rem;
      }
    }
    &-text {
      margin:0 2rem $booklab-section-margin-small-desktop;
    }
  }
  .mission {
    &-images {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translate(25rem, -5rem) scale(.5);
    }
  }
}
@media #{$tablet} {
  .home-page {
    header {
      width: auto;
      left: $aside-width-tablet;
      right: 0;
    }
    .main-content aside {
      width: $aside-width-tablet;
    }
    aside {
      .top-logo {
        display: none;
      }
    }
    .navbar {
      &-brand {
        display: block;
        left: 6.5rem;
      }
      &-collapse {
        top: 0;
        padding-top: 7rem;
        color: inherit;
        background: $red;
        &.visible {
          color: $white;
          label {
            color: $white;
          }
        }
      }
      &-toggler {
        z-index: 101;
        &.active {
          color: $white;
        }
      }
      &-menu,
      &-social,
      &-language {
        color: $white;
      }
    }
    .title-secondary {
      margin-bottom: 12rem;
    }
  }
  .page-scroll {
    max-width: calc(100% - #{$aside-width-tablet});
    .section-mission .fp-tableCell {
      padding-top: 0;
      padding-left: 5rem;
    }
    .section-partners .fp-tableCell {
      padding-top: 0;
    }
    .section-fondation .fp-tableCell {
      padding: 0 0 0 10rem;
    }
    .section-partners .section-image-background {
      top: 45px;
      left: 23px;
    }
    .section-live-from-lab .actions {
      align-self: flex-start;
    }
    .section-footer {
      width: calc(100% + #{$aside-width-tablet});
      left: -$aside-width-tablet;
    }
  }
  .mission {
    &-images {
      transform: translate(23rem, 0) scale(0.5);
    }
    &-text {
      max-width: 37rem;
    }
  }
  .introduction{
    &-images-wrapper {
      bottom: -3rem;
    }
  }
  .fondation{
    &-items {
      transform: translate(-50%, 110px);
      left: 5.6rem;
    }
  }
  .book-lab {
    &-text {
      margin-left: 0;
      margin-right: 0;
    }
    &-background-image {
      &:first-child {
        width: 15rem;
        height: 15rem;
        transform: translate(-60%, 0);
      }
      &:nth-child(2) {
        width: 12rem;
        height: 12rem;
      }
      &:nth-child(3) {
        width: 12rem;
        height: 12rem;
      }
    }
  }
  #fp-nav ul li a:not(.active):hover:before {
    transform: translate(-50%, -50%) scale(0.5);
    background: $red;
  }
}
@media #{$mobile} {
  .home-page  {
    .navbar-brand {
      left: 1.5rem;
    }
    header {
      left: 0;
    }
    .main-content aside {
      display: none;   
    }
    .title-secondary {
      margin-bottom: 7.5rem;
    }
  }
  .page-scroll {
    max-width: 100%;
    .sections .section .fp-tableCell {
      padding: 2rem 6rem 0;
      vertical-align: top;
    }
    .sections .section.section-footer .fp-tableCell {
      padding-left: 0;
      padding-right: 0;
    }
    .sections .section.section-partners .fp-tableCell {
      padding-top: 1rem;
    }
    .section-book-lab {
      .slick-dotted.slick-slider {
        margin-bottom: .8rem;
      }
      .actions {
        margin-top: .8rem;
      }
    }
    .section-live-from-lab {
      .outer {
        overflow: visible;
        height: auto;
      }
      .section-image-background {
        top: 5.9rem;
        left: 5.9rem;
        width: 150vw;
      }
    }
    .section-footer {
      width: 100%;
      left: 0;
    }
  }
  #fp-nav {
    &.fp-left {
      left: 5px;
    }
    ul li + li {
      margin-top: 1rem;
    }
    ul li a {
      opacity: .55;
      &.active {
        opacity: 1;
      }
      &:before {
        border-color: $red;
        background: $red;
      }
    }
  }
  .mission{
    &-images {
      display: none;
    }
    &-content {
      p {
        margin-bottom: 0;
      }
      .abutton {
        margin-top: 1.5rem;
      }
    }
    &-next-button {
      left: auto;
      right: 0;
      bottom: 1.8rem;
    }
  }
  .partner{
    &-image-wrapper {
      @include custom-size(8rem);
    }
    &-items {
      margin: 0 0 1rem;
    }
    &-item-text {
      font-size: $font-size-s;
      padding: 0 .5rem;
    }
    &-image-wrapper {
      margin-bottom: .3rem;
    }    
    &-title {
      margin-bottom: 0;
      font-size: $font-size-m;
    }
  }
  .introduction {
    &-images-wrapper {
      display: none;
    }
    &-text {
      font-size: $font-size-s;
      .actions {
        margin-top: 0;
      }
    }
  }
  .fondation {
    &-items {
      @include custom-size(16rem);
      font-size: $font-size-s;
      transform: translate(-50%, 75px);
      left: 30px;
    }
    &-item {
      @include custom-size(16rem);
    }
  }
  .book-lab {
    &-background-images {
      display: none;
    }
    &-logo {
      max-width: 15rem;
      margin-bottom: 1rem;
    }
    &-text {
      font-size: $font-size-s;
      margin-bottom: 1rem;
    }
    &-item {
      max-width: 100%;
      flex: 0 0 100%;
      .card {
        flex-direction: row;
        &-header {
          background: $light-gray;
          padding: 1rem;
        }
        &-body {
          padding: .5rem;
        }
        &-infomation {
          margin-bottom: .8rem;
          .tag {
            padding: .3rem;
          }
        }
      }
    }
    &-items {
      margin-bottom: 1rem;
    }
  }
  .live-from-lab {
    &-title {
      font-size: 2.4rem;
    }
    &-logo {
      max-width: 12rem;
    }
    &-background-images {
      display: none;
    }
  }
}
@media #{$mobile-small} {
  .page-scroll {
    .sections .section .fp-tableCell {
      vertical-align: middle;
      padding: 0 1.5rem;
    }
    .section {
      &-book-lab .actions {
        margin-top: 2.5rem;
      }
      .actions .abutton + .abutton {
        margin-left: 0;
      }
      .button-primary {
        width: 100%;
        text-align: center;
        + .button-primary {
          margin-top: 1.5rem;
        }
      }
      &-partners {
        .section-image-background {
          width: 150vh;
          left: 14px;
          top: 28px;
        }
      }
      &-fondation {
        .title-secondary {
          &-wrapper {
            margin-left: 0;
          }
          &-highlight-text {
            display: none;
          }
        }
      }
      &-live-from-lab {
        .section-image-background {
          width: 150vh;
        }
        .inner {
          display: block;
        }
      }
      &-introduction {
        .title-secondary-wrapper {
          padding-left: 15%;
        }
      }
    }
    
  }
  .mission {
    &-next-button {
      left: 50%;
      transform: translate(-50%, 0);
    }
    &-content {
      .abutton {
        margin-top: 2.5rem;
      }
    }
  }
	.fondation {
		&-items {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      width: 22rem;
      height: auto;
      margin: 3.5rem auto 0;
      top: 3rem;
      &.slick-slider {
        padding: 0;
      }
    }
    &-item {
      height: 22rem;
    }
  }
  .book-lab {
    &-items {
      padding-left: 3rem;
      padding-right: 3rem;
    }
    &-item {
      .card {
        flex-direction: column;
        &-header {
          padding: 0;
          background: none;
        }
      }
    }
  }
  .introduction-text .actions {
    margin-top: 2.5rem;
  }
  .partner-items {
    margin-bottom: 2.5rem;
    width: 28rem;
    margin-left: auto;
    margin-right: auto;
  }
  .live-from-lab{
    &-logo {
      margin-bottom: 2.5rem;
    }
    &-content {
      padding-left: 0;
      margin-bottom: 2.5rem;
    }
  }
  .home-page {
    .title-secondary {
      font-size: 3.2rem;
      margin: 0 0 2.5rem;
      line-height: 1.45;
      &-wrapper {
        margin: 0;
      }
      &-text {
        text-indent: 0;
      }
      &-highlight-text {
        display: none;
      }
    }
  }
}
@media screen and (min-width: #{$sm-up}) and (max-height: 700px) {
  .main-content aside .top-logo {
    width: 10rem;
    left: 100%;
    transform: translate(-50%, 0);
    top: 5rem;
  }
  .page-scroll .section {
    .fp-tableCell {
      vertical-align: top;
    }
    &-book-lab {
      overflow-y: hidden;
    }
    &-mission .fp-tableCell {
      padding-left: 12rem;
    }  
    &-partners .fp-tableCell {
      padding-top: 5rem;
      padding-bottom: 0;
    }
    &-introduction .fp-tableCell {
      padding-top: 5rem;
      padding-bottom: 0;
    }
    &-fondation .fp-tableCell {
      padding-top: 10rem;
    }
    &-book-lab {
      .fp-tableCell {
        padding-top: 5rem;
        padding-bottom: 0;
      }
      .actions {
        margin-top: 1.2rem;
      }
    }
  }
  .mission-images {
    transform: translate(20rem, -5rem) scale(0.7);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .partner-items {
    margin-bottom: 2rem;
  }
  .book-lab {
    &-text,
    &-logo {
      margin-bottom: 1.2rem;
    }
    &-logo {
      max-width: 23rem;
    }
    &-item {
      .card-body {
        padding: 1rem 1rem 0;
      }
      .card-infomation {
        margin-bottom: 1rem;
      }
    }
  }
  .fondation-items {
    left: 5.2rem;
    transform: translate(-50%, 11rem);
  }
  .home-page {
    .title-secondary {
      margin: 3.5rem 0 10rem;
    }
    .title-secondary-highlight-text{
      &:before {
        @include custom-size(12rem);
      }
      &:after {
        transform: translate(-58px, 60px);
        height: 5rem;
      }
    }
  }
  .partner-image-wrapper {
    @include custom-size(15rem);
  }
  .live-from-lab-background-image:nth-child(2) {
    transform: translate(20%, -25%) scale(.7);
  }
  .live-from-lab-background-image:first-child {
    transform: scale(.8) translate(-15%, 0rem);
  }
}