extends _templates/about_template.pug
block vars
 -bodyClass = 'contact-page'
 -title = 'Contact Us'
block page_content
  h1.page-title.text-red.text-center Contact Us
  +breadcrumb(['Home', 'Contact Us'])
  .row
    .col-lg-6
      +contact-form()
    .col-lg-6
      +contact-information()