footer.footer
  .footer-top
    img.logo-bottom(src='assets/images/LogoFI.svg', alt='logoFI')
  .footer-bottom
    h3 Science For People
    ul.menu-bar-bottom
      li.nav-item
        a.nav-link(href='#', title='our-missions')
          | Our Missions 
      li.nav-item
        a.nav-link(href='#', title='book-lab') Book Lab
      li.nav-item
        a.nav-link(href='#', title='live-from-lab') Live From Lab
      li.nav-item
        a.nav-link(href='#', title='contact-us') Contact Us
    ul.policy-bar
      li.nav-item.active
        a.nav-link(href='#', title='our-missions')
          | Cookies Policy 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='#', title='book-lab') Terms and Conditions
      li.nav-item
        a.nav-link(href='#', title='live-from-lab') Privacy Policy
  