header.header
  nav#menu 
    .header-top
      ul.header-top-right.navbar-social.navbar-nav
        li.nav-item
          +link('Facebook').nav-link
            span.icon-fa-facebook
        li.nav-item
          +link('LinkedIn').nav-link
            span.icon-fa-linkedin
        li.nav-item
          +link('Twitter').nav-link
            span.icon-fa-twitter
        li.nav-item
          +link('YouTube').nav-link
            span.icon-fa-youtube
      .header-top-right
        // Another variation with a button
        .input-group
          input.form-control(type='text', placeholder='Search this blog')
          .input-group-append
            a.search-button
              span.icon-search
        .dropdown.show
          a#dropdownMenuLink.btn.btn-secondary.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Language
          .dropdown-menu(aria-labelledby='dropdownMenuLink')
            +link('English').dropdown-item English
            +link('Français').dropdown-item Français
    .header-bottom.logo
      +link('Bigben', '/') BIGBEN
    .header-footer.navbar.navbar-expand-lg.menu-link
      button.navbar-toggler(type='button', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span
        span
        span
      #navbarSupportedContent.navbar-collapse      
        ul.navbar-menu.navbar-nav
          - var arr = [{text: 'Products', href: '/our-programs.html'}, {text: 'About Bigben', href: '/book-lab.html'}, {text: 'News', href: '/live-from-lab.html'}]
          each item in arr 
            li.nav-item
              +link(item.text, item.href).nav-link
        

